cloud_id                 = "b1gfcqtestq6ssa4jjer"
folder_id                = "b1gv9ptestacd7c37ufj"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "e9bh3qtestttponuqi7k"
service_account_key_file = "key.json"
private_key_path         = "~/.ssh/appuser"
app_disk_image           = "fd8bftestkr0be6oehv"
db_disk_image            = "fd844dtest7pqm4akj810"
