cloud_id                 = "b1gfcqdtest6ssa4jjer"
folder_id                = "b1gv9pdtestcd7c37ufj"
zone                     = "ru-central1-a"
service_account_key_file = "key.json"
access_key               = "I9wqmtestQL0tCM--fox"
secret_key               = "IiqXyuZGSvn-DhpkCz3stestyiHhwFVtestHG4-b"
